#rowDiv{
    margin: auto;
    text-align: center;
    width: 100%;

}
input[type="text"]{
    height: 40px;
    font-size: 20px;
}
#submitWeather{
    background-color: #4aa1f3;
     height: 40px;
    font-size: 20px;
    font-weight: bold;
}
#name{
    color: #4aa1f3;
}
#show{

    margin: auto;
    width: 60%
}